<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="FileNameGenerator" class="com.yourtion.demo.bean.FileNameGenerator" >
        <property name="name">
            <value>Yourtion</value>
        </property>
        <property name="type" value="txt" />
    </bean>

    <bean id="CustomerBean" class="com.yourtion.demo.innerBean.Customer">
        <property name="person">
            <bean class="com.yourtion.demo.innerBean.Person">
                <property name="name" value="Yourtion" />
                <property name="addrss" value="Guangdong" />
                <property name="age" value="28" />
            </bean>
        </property>
    </bean>

</beans>