<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="FileNameGenerator" class="com.yourtion.demo.bean.FileNameGenerator" >
        <property name="name">
            <value>Yourtion</value>
        </property>
        <property name="type" value="txt" />
    </bean>

</beans>